@import 'colors';
@import 'var';

*[contenteditable]:focus
    outline: none;

::selection
  background: #d5d7e8;

.send-input { padding: 5px;}

.container
    width: 1200px;
    height: auto;
    margin: 0 auto;


#chat-window
    position: relative;
    width: 300px;
    height: 465px;
    background: $chat-window-bg;
    border: 1px solid $chat-border-color;
    margin: 100px auto;

.messages-list
    overflow-y: auto;
    list-style: none; 
    width: 100%;
    height: calc(100% - #{$send-input-height});
    padding: 5px 2px;
    margin: 0px;

    .incoming
        float: left;

    .outcoming
        float: right;

.message
    width: 80%;
    border-radius: 3px;
    background: $white;
    margin: 5px;
    box-shadow: 1px 1px 1px $message-shadow-color;
    bottom: 57px;

    p
        margin: 0;
        padding: 7px 10px;
        color: $message-text-color;

.send-input
    /* overflow: auto; */
    display: inline-block;
    position: absolute;
    bottom: -1px;
    left: -1px;
    width: 300px;
    height: $send-input-height;
    background: #fff;
    border: none;
    border-bottom: 1px solid #c5c4d6;
    border-left: 1px solid #c5c4d6;
    border-right: 1px solid #c5c4d6;
    /* padding-right: 55px; */
    /* padding-left: 10px; */
    text-align: left;
    /* padding-top: 14px; */
    font-size: 0.9em;
    color: #727679;

.send-input:focus
    outline: none;

.send-input:focus .send-btn
    transform: translateX(100px);

.send-btn
    cursor: pointer;
    display: inline-block;
    position: absolute;
    z-index: 99999;
    width: 45px;
    height: 45px;
    right: 10px;
    bottom: 0px;
    border: none;
    background-color: transparent; /* $chat-border-color */
    background-image: url(../img/send-message.svg);
    background-repeat: no-repeat;
    background-size: 42px 42px;
    background-position: center;
    /*border-left: 1px dashed $chat-border-color;*/
    transition: all .3s;

.send-btn:focus
    outline: none;

.send-btn:hover
    transform: scale(1.1);
